[options]
addons_path = /mnt/extra-addons,/usr/lib/python3/dist-packages/odoo/addons
data_dir = /var/lib/odoo
db_host = postgres
db_port = 5432
db_user = netbox
db_password = change-me
db_name = zenlenet
dbfilter = ^zenlenet$
list_db = False
proxy_mode = True
workers = 0
without_demo = True
admin_passwd = change-me
